<web-app>
<servlet>
<servlet-name>First</servlet-name>
<servlet-class>NgoRegistration</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>First</servlet-name>
<url-pattern>/ngosignup</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Donorreg</servlet-name>
<servlet-class>DonorRegistration</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Donorreg</servlet-name>
<url-pattern>/donorreg</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Logout</servlet-name>
<servlet-class>Logout</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Logout</servlet-name>
<url-pattern>/logout</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>DonorLogin</servlet-name>
<servlet-class>DonorLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DonorLogin</servlet-name>
<url-pattern>/donorlogin</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>NgoLogin</servlet-name>
<servlet-class>NgoLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>NgoLogin</servlet-name>
<url-pattern>/ngologin</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Donate</servlet-name>
<servlet-class>Donate</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Donate</servlet-name>
<url-pattern>/donate</url-pattern>
</servlet-mapping>


</web-app>
